@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Source+Sans+Pro&family=Special+Elite&display=swap');

/* -------------------------------------Special Styling */

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #444;
}

/* -------------------------------------HEADER SECTION */
/* -------------------------------------Navbar */
nav .brand-logo {
    font-family: 'Special Elite', serif;
    position: absolute;
    color: #000;
    display: inline-block;
    font-size: 2.5rem;
    margin-left: 15px;
}

nav a {
    color: #000;
}

nav ul a {
    font-size: 1.2rem;
    color: #000;
}

ul li h4 {
    font-family: 'Special Elite', serif;
    font-size: 2.28rem;
    color: #000;
    margin-left: 5px;
}


/* -------------------------------------TEMPLATE BODY STYLING */

/* -------------------------------------Common Site Styling Section */

h3,
h2 {
    font-family: 'Playfair Display', Times, serif;
    font-weight: 600;
}

/* -------------------------------------Flashed Messages */

.flashes h4 {
    line-height: 2;
}

/* -------------------------------------Buttons */

.pill-btn {
    font-weight: bold;
    border-radius: 25px;
}

/* Specifically for the manage-genres edit and delete button spacing */
.card-action .pill-btn {
    margin: 5px 5px;
}

/* -------------------------------------BASE Specific Section */





/* -------------------------------------BOOK-REVIEW Specific Section */

.book-review-card {
    min-height: 500px;
}

.card .card-content .card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card .card-image img {
    width: 100%;
    /*height: auto;*/
    min-height: 350px;
    max-height: 400px
    
}


/* -------------------------------------MANAGE-GENRES Specific Section */

.card .card-content {
    padding: 24px;
    border-radius: 0 0 2px 2px;
    font-family: 'Playfair Display', serif;
    font-size: 1.05rem;
}


/* -------------------------------------Media Queries */
/* -------------------------------------Responsive Design - TABLET */

@media screen and (max-width: 670px) {
    nav .brand-logo {
        font-family: 'Special Elite', serif;
        position: absolute;
        color: #000;
        display: inline-block;
        font-size: 1.8rem;
        margin-left: 15px;
    }
    ul li h4 {
        font-family: 'Special Elite', serif;
        font-size: 2rem;
        color: #000;
        margin-left: 10px;
    }
}

/* -------------------------------------Responsive Design - MOBILE */

@media screen and (max-width: 483px) {
    nav .brand-logo {
        font-family: 'Special Elite', serif;
        position: absolute;
        color: #000;
        display: inline-block;
        font-size: 1.5rem;
        margin-left: 15px;
    }
    ul li h4 {
        font-family: 'Special Elite', serif;
        font-size: 2rem;
        color: #000;
        margin-left: 10px;
    }
}
