@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Source+Sans+Pro&family=Special+Elite&display=swap');

/* -------------------------------------Special Styling */

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #444;
}

/* Added to prevent the problems of elements overflowing horizontally on mobile devices */
/*.row {
    padding: 0px;
    margin: 0;
    overflow-x: hidden;
}*/

/* -------------------------------------HEADER SECTION */
/* -------------------------------------Navbar */
nav .brand-logo {
    font-family: 'Special Elite', serif;
    position: absolute;
    color: #000;
    display: inline-block;
    font-size: 2.5rem;
    margin-left: 15px;
}

nav a {
    color: #000;
}

nav ul a {
    font-size: 1.2rem;
    color: #000;
}

ul li h4 {
    font-family: 'Special Elite', serif;
    font-size: 2.28rem;
    color: #000;
    margin-left: 5px;
}

/* -------------------------------------MAIN BODY STYLING */
/* -------------------------------------Homepage Callout Section */


/* -------------------------------------Hero Image Containers */


/* -------------------------------------Buttons */

.pill-btn {
    /*color: #fff;*/
    font-weight: bold;
    /*background-color: rgb(0, 135, 115);
    border: 1px solid rgb(0, 135, 115);*/
    border-radius: 25px;
}


/* -------------------------------------Media Queries */
/* -------------------------------------Responsive Design - TABLET */

@media screen and (max-width: 670px) {
    nav .brand-logo {
        font-family: 'Special Elite', serif;
        position: absolute;
        color: #000;
        display: inline-block;
        font-size: 1.8rem;
        margin-left: 15px;
    }
    ul li h4 {
        font-family: 'Special Elite', serif;
        font-size: 2rem;
        color: #000;
        margin-left: 10px;
    }
}

/* -------------------------------------Responsive Design - MOBILE */

@media screen and (max-width: 483px) {
    nav .brand-logo {
        font-family: 'Special Elite', serif;
        position: absolute;
        color: #000;
        display: inline-block;
        font-size: 1.5rem;
        margin-left: 15px;
    }
    ul li h4 {
        font-family: 'Special Elite', serif;
        font-size: 2rem;
        color: #000;
        margin-left: 10px;
    }
}
