@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Source+Sans+Pro&family=Special+Elite&display=swap');

/* -------------------------------------Special Styling */

body {
    padding: 0px;
    margin: 0;
    overflow-x: hidden;
}

body,
.card .card-content .card-text-sm {
    font-family: 'Source Sans Pro', sans-serif;
    color: #444;
}

strong {
    font-weight: bold;
}

/* -------------------------------------HEADER SECTION */
/* -------------------------------------Navbar */
nav .brand-logo {
    font-family: 'Special Elite', serif;
    position: absolute;
    color: #000;
    display: inline-block;
    font-size: 2.5rem;
    margin-left: 15px;
}

nav a {
    color: #000;
}

nav ul a {
    font-size: 1.2rem;
    color: #000;
}

ul li h4 {
    font-family: 'Special Elite', serif;
    font-size: 2.28rem;
    color: #000;
    margin-left: 5px;
}


/* -------------------------------------TEMPLATE BODY STYLING */

/* -------------------------------------Common Site Styling Section */

h2,
h3 {
    font-family: 'Playfair Display', Times, serif;
    font-weight: 600;
}

/* -------------------------------------Flashed Messages */

.flashes h4 {
    line-height: 2;
}

/* -------------------------------------Buttons */

.pill-btn {
    font-weight: bold;
    border-radius: 25px;
}

/* Specifically for the manage-genres edit and delete button spacing */

.card-action .pill-btn {
    margin: 5px 5px;
}

/* Specifically for the manage-genres edit and delete button spacing */

#edit-review-btn a,
#edit-genre-btn a {
    margin: 0 25px;
}


/* -------------------------------------BASE Specific Section */





/* -------------------------------------BOOK-REVIEW Specific Section */

#book-review{
    margin-top: 50px;
    margin-bottom: 10vh;
}

.book-review-card {
    min-height: 500px;
}

a#delete-btn {
    background-color: rgb(97, 97, 97);
}

a#delete-btn:hover {
    background-color: rgb(209, 0, 0);
}

.card .card-image img {
    width: 100%;
    height: 400px;  
}

/* -------------------------------------Search Bar Section */

#search-bar {
    border-radius: 15px;
    margin-bottom: 5vh;
}

#clear-btn {
    margin-right: 15px;
}

/* -------------------------------------BOOK-PAGE Specific Section */

.container-row {
    margin: 50px auto;
}

#book-page-img img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 400px;
    max-width: 261px;
    margin-top: 3.2vh;
    margin-left: auto;
    margin-right: auto;
}

.book-review-btn {
    margin-top: 15px;
}

.book-review-btn a {
    margin-left: 10px;
}


/* -------------------------------------PROFILE PAGE Specific Section */

#profile {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

/* -------------------------------------MANAGE-GENRES Specific Section */

#manage-genres {
    margin: 5vh 0;
}

.card {
    border-radius: 15px;
}
.card .card-content {
    padding: 24px;
    border-radius: 0 0 2px 2px;
    font-family: 'Playfair Display', serif;
    font-size: 1.05rem;
}

/* -------------------------------------FOOTER SECTION */

/* Sticky footer styling from MaterializeCSS */
body {
    padding: 0px;
    margin: 0;
    overflow-x: hidden;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
}
/* Sticky footer end */

.footer {
    margin: 0 auto;
}

/* -------------------------------------Social Media & Sitemap links */

.list-inline {
	padding-left: 0;
	list-style: none;
}

.list-inline-item {
    display: inline-block;
}

.social-media h5,
.sitemap h5 {
    font-family: 'Special Elite', serif;
}

.social-media ul li {
    font-size: 1.6rem;
    padding: 0 2% 0 2%;
}

.social-media ul li a {
    color: #004d40;
}

.social-media ul li a:hover {
    color: #fff;
}

.sitemap ul li a {
    padding-left: 15px;
    text-decoration: none;
    color: black;
    margin: 10px;
    line-height: 2;
}

.sitemap ul li a:hover {
    text-decoration: underline;
}

.icon-bg-sm ul li a i {
    height: 50px;
    width: 50px;
    padding: 14px 0 12px 0;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    margin: auto;
}

.icon-bg-sm ul li a i:hover {
    background-color: #004d40;
}

/* -------------------------------------Copyright */

.copyright p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.8rem;
}


/* -------------------------------------Media Queries */
/* -------------------------------------Responsive Design - TABLET */

/* Manage Genres Delete key colour = red for mobile devices */
@media screen and (max-width: 1366px) {
    #delete-btn {
        background-color: rgb(209, 0, 0);
    }
}

/* Reduce the Nav Logo font for smaller device sizes */
@media screen and (max-width: 670px) {
    nav .brand-logo {
        font-family: 'Special Elite', serif;
        position: absolute;
        color: #000;
        display: inline-block;
        font-size: 1.8rem;
        margin-left: 15px;
    }
    ul li h4 {
        font-family: 'Special Elite', serif;
        font-size: 2rem;
        color: #000;
        margin-left: 10px;
    }
    #delete-btn {
        background-color: rgb(209, 0, 0);
    }
}

/* -------------------------------------Responsive Design - MOBILE */

/* Reduce the Nav Logo font for smaller device sizes */
@media screen and (max-width: 483px) {
    nav .brand-logo {
        font-family: 'Special Elite', serif;
        position: absolute;
        color: #000;
        display: inline-block;
        font-size: 1.5rem;
        margin-left: 15px;
    }
    ul li h4 {
        font-family: 'Special Elite', serif;
        font-size: 2rem;
        color: #000;
        margin-left: 10px;
    }

}
