<div class="row footer z-depth-1 teal lighten-5">
    <div class="col s12 center-align">
        <!-- Social Media Section -->
        <div class="divider"></div>
        <div class="section social-media icon-bg-sm">
            <h5>Follow Us</h5>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="https://www.facebook.com/" target="_blank" rel="noreferrer">
                        <i class="fab fa-facebook-f" aria-hidden="true"></i>
                        <span class="sr-only">Facebook</span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://twitter.com/" target="_blank" rel="noreferrer">
                        <i class="fab fa-twitter" aria-hidden="true"></i>
                        <span class="sr-only">Twitter</span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.instagram.com/" target="_blank" rel="noreferrer">
                        <i class="fab fa-instagram" aria-hidden="true"></i>
                        <span class="sr-only">Instagram</span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://twitter.com/" target="_blank" rel="noreferrer">
                        <i class="fab fa-youtube" aria-hidden="true"></i>
                        <span class="sr-only">YouTube</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Sitemap section -->
        <div class="divider"></div>
        <div class="section sitemap">
            <h5>Sitemap</h5>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="{{ url_for('welcome') }}">Home</a>
                </li>
                <li class="list-inline-item">
                    <a href="{{ url_for('get_reviews') }}">Book Reviews</a>
                </li>
                {% if session.user %}
                    <li class="list-inline-item">
                        <a href="{{ url_for('add_review') }}">New Review</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="{{ url_for('profile', username=session['user']) }}">Profile</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="{{ url_for('get_genres') }}">Manage Genres</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="{{ url_for('logout') }}">Log Out</a>
                    </li>
                {% else %}
                    <li class="list-inline-item">
                        <a href="{{ url_for('sign_up') }}">Sign Up</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="{{ url_for('login') }}">Log In</a>
                    </li>
                        
                {% endif %}
                <li class="list-inline-item">
                    <a href="{{ url_for('privacy_policy') }}">Privacy Policy</a>
                </li>
                <li class="list-inline-item">
                    <a href="{{ url_for('terms_conditions_list') }}">Terms & Conditions</a>
                </li> 
            </ul>
        </div>
        <!-- Copyright statement section -->
        <div class="divider"></div>
        <div class="section copyright">
            <p>
                © Copyright The Reading Room, 2021.<br>
                Created for educational purposes only as a coursework project submission.
            </p>
        </div>
    </div>
</div>
