<!-- 
    Top navbar partial HTML code.
    Code adapted from Code Institute Task Manager Flask App Mini Project 
    using Materialize CSS
-->
<nav class="nav-extended teal lighten-5">
    <div class="nav-wrapper">
        <a href="{{ url_for('welcome') }}" class="brand-logo">The Reading Room</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger menu-bars right">
            <i class="fas fa-bars"></i>
        </a>
        <ul class="right hide-on-med-and-down">
            <li>
                <a href="{{ url_for('get_reviews') }}">Book Reviews</a>
            </li>
            {% if session.user %}
                <li>
                    <a href="{{ url_for('add_review') }}">New Review</a>
                </li>
                <li>
                    <a href="{{ url_for('profile', username=session['user']) }}">Profile</a>
                </li>
                <li>
                    <a href="{{ url_for('get_genres') }}">Manage Genres</a>
                </li>
                <li>
                    <a href="{{ url_for('logout') }}" class="waves-effect waves-light btn pill-btn">Log Out</a>
                </li>
            {% else %}
                <li>
                    <a href="{{ url_for('sign_up') }}">Sign Up</a>
                </li>
                <li>
                    <a href="{{ url_for('login') }}" class="waves-effect waves-light btn pill-btn">Log In</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
<!-- mobile side navbar -->
<ul class="sidenav" id="mobile-demo">
    <li>
        <h4 class="">The Reading Room</h4>
    </li>
    <li>
        <a href="{{ url_for('welcome') }}">Home</a>
    </li>
    <li>
        <a href="{{ url_for('get_reviews') }}">Book Reviews</a>
    </li>
    {% if session.user %}
        <li>
            <a href="{{ url_for('add_review') }}">New Review</a>
        </li>
        <li>
            <a href="{{ url_for('profile', username=session['user']) }}">Profile</a>
        </li>
        <li>
            <a href="{{ url_for('get_genres') }}">Manage Genres</a>
        </li>
        <li>
            <a href="{{ url_for('logout') }}">Log Out</a>
        </li>
    {% else %}
        <li>
            <a href="{{ url_for('sign_up') }}">Sign Up</a>
        </li>
        <li>
            <a href="{{ url_for('login') }}">Log In</a>
        </li>
    {% endif %}
</ul>