<!-- 
    Search-bar partial HTML code section.
    Code adapted from Code Institute Task Manager Flask App Mini Project 
    using Materialize CSS
-->

<div id="search-bar" class="row card-panel z-depth-2">
    <form action="{{ url_for('search') }}" method="POST" class="col s12">
        <div class="row valign-wrapper center-align">
            <div class="input-field col s10 m8 truncate">
                <i class="fas fa-search prefix teal-text text-darken-4"></i>
                <input type="text" name="query" id="query" minlength="3"
                    class="validate" required>
                <label for="query">Search Reviews</label>
            </div>
            <div class="col s10 m4">
                <a href="{{ url_for('get_reviews') }}" id="clear-btn"
                        class="waves-effect waves-light red btn pill-btn">
                    Clear
                </a>
                <button type="submit"
                        class="waves-effect waves-light pill-btn teal btn">
                    <i class="fas fa-search left"></i> Search
                </button>
            </div>
        </div>
    </form>
</div>

