{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Add Book Review</h3>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="">
            <div class="row">
                <div class="input-field col s12">
                    <i class="teal-text fas fa-tags prefix"></i>
                    <input id="category" name="category" type="text" class="validate" required>
                    <label for="category">Category</label>
                </div>
                <div class="input-field col s12">
                    <i class="teal-text fas fa-book prefix"></i>
                    <input id="title" name="title" type="text" class="validate" required>
                    <label for="title">Title</label>
                </div>
                <div class="input-field col s12">
                    <i class="teal-text fas fa-user prefix"></i>
                    <input id="author" name="author" type="text"
                        class="validate" required>
                    <label for="author">Author</label>
                </div>
                <div class="input-field col s12">
                    <i class="teal-text fas fa-image prefix"></i>
                    <input id="image" name="image" type="text"
                        class="validate">
                    <label for="image">Book Cover Image URL</label>
                </div>
                <div class="input-field col s12">
                    <i class="teal-text fas fa-file-alt prefix"></i>
                    <input id="pages" name="pages" type="text"
                        class="validate">
                    <label for="pages">Number of Pages</label>
                </div>
                <div class="input-field col s12">
                    <i class="teal-text fas fa-barcode prefix"></i>
                    <input id="isbn" name="isbn" type="text" class="validate">
                    <label for="isbn">ISBN</label>
                </div>
                <div class="input-field col s12">
                    <i class="teal-text fas fa-star-half-alt prefix"></i>
                    <input id="rating" name="rating" type="text" 
                        class="validate" required>
                    <label for="rating">Rating from 0 to 5</label>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
