{% extends "base.html" %}
{% block content %}

    <h2 class="center-align">Book Reviews</h2>

    <div class="row">
        {% for review in reviews %}
        <div class="col s10 offset-s1 m6 l4 xl3">
            <div class="card book-review-card z-depth-3">
                <div class="card-image">
                    <img src="{{ review.image_url }}">
                    <a href="{{ url_for('book_page', book_id=review._id) }}" class="btn-floating halfway-fab waves-effect waves-light red">
                        <i class="fas fa-book-open"></i>
                    </a>
                </div>
                <div class="card-content center-align">
                    <span class="card-title">{{ review.title }}</span>
                    <span class="card-text-sm">{{ review.author }}</span><br>
                    <span class="card-text-sm"><strong><em>{{ review.genre }}</em></strong></span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


{% endblock %}
