{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Edit Genre</h3>

    <div class="row card-panel z-depth-3">
        <form class="col s12" method="POST" action="{{ url_for('edit_genre', genre_id=genre._id) }}">
            <!-- Genre name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="teal-text fas fa-tags prefix"></i>
                    <input id="genre_name" name="genre_name" minlength="3" maxlength="25"
                        type="text" value="{{ genre.genre_name }}" class="validate" required>
                    <label for="genre_name">Genre Name</label>
                </div>
            </div>
            <!-- Submit button -->
            <div id="edit-genre-btn" class="row">
                <div class="col s12 center-align">
                    <a href="{{ url_for('get_genres') }}" class="btn-large red pill-btn">
                        <i class="fas fa-times-circle"></i>
                    </a>
                    <button type="submit" class="btn-large pill-btn waves-effect waves-light">
                        <i class="fas fa-edit"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
