{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Manage Genres</h3>

    <!-- Add Genre button -->
    <div class="row">
        <div class="col s12 center-align">
            <a href="{{ url_for('add_genre') }}" 
                class="waves-effect waves-light btn-large teal pill-btn center-align hoverable">
                Add Genre <i class="fas fa-plus-square right"></i>
            </a>
        </div>
    </div>

    <!-- Genre cards -->
    <div id="manage-genres" class="row">
        {% for genre in genres %}
        <div class="col s12 m6 l4 xl3">
            <div class="card z-depth-2 center-align hoverable">
                <div class="card-content">
                    <span class="flow-text truncate {{ genre.genre_name }}">{{ genre.genre_name }}</span>
                </div>
                <div class="card-action grey lighten-4">
                    <a href="{{ url_for('edit_genre', genre_id=genre._id) }}"
                        aria-label="Edit genre button"
                        class="waves-effect waves-light btn teal pill-btn">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="{{ url_for('delete_genre', genre_id=genre._id) }}"
                        aria-label="Delete genre category button"
                        id="delete-btn" class="waves-effect waves-light btn pill-btn">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
            

{% endblock %}
