{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Manage Genres</h3>

    <div class="row">
        {% for genre in genres %}
        <div class="col s12 l6 xl4">
            <div class="card z-depth-3 center-align">
                <div class="card-content">
                    <span class="flow-text {{ genre.genre_name}}">{{ genre.genre_name }}</span>
                </div>
                <div class="card-action">
                    <a href="#" class="waves-effect waves-light btn teal pill-btn">Edit</a>
                    <a href="#" class="waves-effect waves-light btn red pill-btn">Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
            

{% endblock %}
