{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel z-depth-3">
                <h3 class="center-align">
                    Profile Page
                </h3>
                <table class="responsive-table">
                    <tbody>
                        <tr>
                            <td>User Name:</td>
                            <td>{{ username.username }}</td>
                        </tr>

                        <tr>
                            <td>Account Type:</td>
                            <td>{{ account }}</td>
                        </tr>
                        <tr>
                            <td>Member Since:</td>
                            <!-- Convert MongoDB datetime objects into strings -->
                            <td>{{ username.date_joined.strftime("%d %B, %Y") }}</td>
                        </tr>
                        <tr>
                            <td>Last Login:</td>
                            <!-- Convert MongoDB datetime objects into strings -->
                            <td>{{ username.last_login.strftime("%A %d %B, %Y") }}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- Comments Section -->
                <div class="divider"></div>
                <div class="section">
                    <h5>Favourites</h5>
                    <!-- Favourites list iteration -->
                    {% for fav in username.favourites %}
                    <div class="divider"></div>
                    <table class="responsive-table text-center">
                        <tr>
                            <td width="5%"><i class="fas fa-book-open"></i></td>
                            <td width="28%">{{ fav.title }}</td>
                            <td width="5%"><i class="fas fa-user-edit"></i></td>
                            <td width="28%">{{ fav.author }}</td>
                            <td width="5%"><i class="fas fa-tag"></i></td>
                            <td width="28%">{{ fav.genre }}</td>
                        </tr>
                    </table>
                    {% endfor %}
                </div>                
            </div>
        </div>
    </div>

{% endblock %}
