{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">
        <i class="fas fa-file-contract"></i> Terms and Conditions
    </h3>

    <ul class="collapsible popout">
        {% for terms in terms_conditions %}
        <li>
            <div class="collapsible-header teal lighten-5">
                <i class="fas fa-caret-down"></i>
                <strong>{{ terms.title }}</strong>
            </div>
            <div class="collapsible-body">
                {% for text in terms.text %}
                    <span>{{ text }}</span><br>
                {% endfor %}
            </div>
        </li>
        {% endfor %} 
    </ul>
        
{% endblock %}
